<md-card class='card'>

  <md-card-header *ngFor="let header of headers" >

    <div md-card-avatar class="thumbnail">
      <img [src]="header.avatarUrls[0]">
    </div>

    <div>
      <md-card-title class="title" [innerHTML]='header.titles[0]'></md-card-title>
      <md-card-subtitle *ngFor="let title of header.titles.slice(1)" [innerHTML]='title'></md-card-subtitle>
    </div>

  </md-card-header>

  <div class="md-unstyled-image" *ngFor="let image of images">
    <img [src]="image" >
  </div>

  <md-card-content>

    <div [innerHTML]="contents"></div>

    <ng-container *ngFor="let hyperlink of hyperlinks">
      <app-hyperlink [hyperlink]='hyperlink'></app-hyperlink>
    </ng-container>

  </md-card-content>

</md-card>



