
// Cards
.card {
  width: 420px;
  padding: 20px;
  margin: 20px;
}

.card-chris-venteicher-header-image {
  background-image: url('ChrisProfilePicture.jpg');
  //background-size: auto;
  background-size: cover;
  background-position: center
}


