<md-card class="card">
  <div *ngFor="let header of headers" >

    <md-card-header>

      <div *ngFor="let avatarUrl of header.avatarUrls" >
        <img md-card-avatar [src]="avatarUrl">
      </div>

      <div *ngFor="let title of header.titles;let i = index" >
        <md-card-title *ngIf="i==0"  [innerHTML]="title | safeHtml"></md-card-title>
        <md-card-subtitle *ngIf="i>0"  [innerHTML]="title | safeHtml"></md-card-subtitle>
      </div>
    </md-card-header>

  </div>

  <md-card-content>
    <div [innerHTML]="contents"></div>
  </md-card-content>

</md-card>



